<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
<h1>This Is Home page</h1>
<h2><%= f_name+" "+l_name %></h2>

<ol>
	<% data.forEach(function(item){ %>

		<li><%= item %></li>	

	<% }) %>
</ol>
<Br />
<table border="1" align="center" border="1">
	<tr>
		<th>S.No</th>
		<th>Name</th>
		<th>Age</th>
		<th>City</th>
	</tr>
	<% user.forEach(function(item, index){ %>
		<tr>
			<td><%= index+1 %></td>
			<td><%= item.name %></td>
			<td><%= item.age %></td>
			<td><%= item.city %></td>
		</tr>
	<% }) %>
</table>
</body>
</html>