<h1>View All Product</h1>
<table class="table table-bordered table-hover table-stripped">
	<tr>
		<th>S.No.</th>
		<th>Name</th>
		<th>Price</th>
		<th>Discount</th>
		<th>Category</th>
		<th>Image</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	<% result.forEach(function(item, index){ %>
		<tr>
			<td><%= index+1 %></td>
			<td><%= item.name %></td>
			<td><%= item.price %></td>
			<td><%= item.discount %></td>
			<td><%= item.cate_data[0].name %></td>
			<td><img src="/products/<%= item.image; %>" height="50" width="50" /></td>
			<td><a href="/admin/product/edit/<%= item._id %>" class="btn btn-sm btn-info">Edit</a></td>
			<td><a href="/admin/product/delete/<%= item._id %>" class="btn btn-sm btn-danger">Delete</a></td>
		</tr>
	<% }) %>
</table>