<section style="margin-top: 150px;" class="feature_product_area section_gap">
		<div class="main_box">
			<div class="container-fluid">
				<div class="row">
					<div class="main_title">
						<h2>Featured Products</h2>
						<p>Who are in extremely love with eco friendly system.</p>
					</div>
				</div>
				<div class="row">
					<% product.forEach(function(item){ 
					var d = item.discount;
					var new_price = item.price-(item.price*d/100);


					%>
					<div class="col col1">
						<div class="f_p_item">
							<div class="f_p_img">
								<img class="img-fluid" src="/products/<%= item.image %>" height="200" alt="">
								<div class="p_icon">
									<a href="#">
										<i class="lnr lnr-heart"></i>
									</a>
									<a href="/cart/add/<%= item._id %>">
										<i class="lnr lnr-cart"></i>
									</a>
								</div>
							</div>
							<a href="#">
								<h4><%= item.name %></h4>
							</a>
							<h5>$<%= new_price %></h5>
							<h6 style="text-decoration: line-through;">$<%= item.price %></h6>
						</div>
					</div>
					<% }) %>

					
				</div>

				
			</div>
		</div>
	</section>